dist: trusty
sudo: false
language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
install:
  - "pip install -r requirements.txt"
  - "pip install -r requirements-test.txt"
  - "pip install -e ."
deploy:
  provider: pypi
  user: qarnot
  password:
    secure: dJa6RUo7HzEZYxq4Jannann9uouxm+EESXlPV2Ez+LeKHcrDVouJmGV7DKayM3ETIOWouLtSA4teAGDEKBII+un9LVBN3zfD5teBJfv6y0du+t/lL3myuUR08QmTMwYZFWyUy+bbmxfqNAQ0/MMAIncFHItBsyKdfz3RahZjECtbPX7+OSEC2SJHtz0bdkFAJJudDlgDO9dNTkVNHxQHEvptd/IgI19ZeakE3ZIOlIFc6Gh3M88NzA54BcwwfhjwOygWuT6jI0Xbyl88dGAhuqnuBoX4g/Uagrla3Y+ltvvyupofhSn/vyLQ4LV5hrxKYIqQZOPmyCM1d+ul/L1B5UAlf1iGk8IS1b5eKzG296TQ2J/yCrVZsY7h1RZ2FHoZ4rdj+Pq1wvZba/8JP4MRHKJlvNql7aqJkCSGvif00OTEo8h/G01fem8TlDkH5sEItaIzD2EF1g5ICOsPFdP0yM9AjwviPEnEmAIqYS59SCINpwmStp9O1Ks3sNUmFp8Rt3fC1HRTfgnj54saqvKgDyNGzR/aQrOrW/3Ol2YMXPAJtvKiN8EGxtJLfx25Jb8jxg8eInqaUPcXPHvsDkXwThQESypPnO9QPob24nJGnfPnnadwtugOEI5n8LVmHw/63lSUKJX9WH6mN74NIywPklqHGxN9C4y/MAkKoVuywx4=
  on:
     tags: true
     branch: master
     ptyhon: '3.6'
script: pytest
